.card{
    width: 100%;
    height: auto;
    border-radius: 10px;

    text-align: center;
    padding: none;

    background: #242F49;

    color: white;
    font-weight: bold;
    font-size: 13px;

    margin-bottom: 20px;
    padding: 10px;

}
.card h2{
    margin-bottom: 5px;
}

.card-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: none;
    margin: none;
}

.card-hotel{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: none;
    margin: none;
}
#consumoGif{
    width: 130px;
    height: 130px;
}

#presupuesto{
    width: 130px;
    height: 130px;
    
    margin-top: 30px;
}


