.card-room{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: none;
    background: #242F49;
    margin-bottom: 20px;
    padding: 10px;
    opacity: 0;
    animation: fadeIn 0.9s ease forwards;

}
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px); /* Pequeño desplazamiento hacia abajo */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
.card-room h2{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    
}

.card-content-room {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    gap: 10px; 
}

.info-room {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;

}


.card-content-room img {
    width: 150px; 
    height: 150px;
    margin-right: 10px;
}

.card-content-room  img:hover{
    transform: scale(1.1); 
    transition: all 0.3s ease-in-out;
}

.info-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 5px;
    
}


#p-consumo{
    color: aquamarine;
    font-weight: bolder;
    font-size: 14px;
    
}

#p-presencia{
    color: white;
    font-weight: bolder;
    font-size: 14px;
}

.info-item span{
    font-size: 15px;
    color: #606B7A;
    margin-bottom: 10px;
    margin-left: 10px;
    
}

.info-item p{
    font-size: 15px;
    margin-bottom: 10px;
}


@media (max-width: 767px){
    
    #p-consumo , #p-presencia{
        font-size: 11px;
    }

    .info-item span , .info-item p{
        font-size: 13px;
    }

    .card-content-room img{
        width: 100px;
        height: 120px
    }
}

@media (max-width: 573px){
    .card-content-room img{
        width: 150px;
        height: 150px
    }

}

