.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;
    height: 40px;
    width: 100%;

    margin-top: 20px;
    margin-bottom: 20px;
}

.header-content h1{
    font-size: 28px;
    font-weight: bold;
    color: white;

    margin-left: 40px;   
}
.input-badget {
    display: flex;
    align-items: center;
    text-align: center;
    width: 500px;
    gap: 10px;
    position: relative;
}

.input-badget input {
    flex-grow: 1; 
    max-width: 500px;
    height: 35px;
    background: #2A3B5F;
    color: #606B7A;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    margin: 0 0px; 
}


.user-info {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px; 
}
  
.user-info p {
    font-weight: bold;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
     
}

.user-info img {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
    border: 2px solid #FFF;

    margin-right: 60px;
}


.header-content .MuiBadge-root {
    margin-right: 20px;
}

.header-content .MuiBadge-badge {
    background: white !important; 
    color: #242F49 !important; 
    font-size: 12px; 
    padding: 5px 8px; 
}

/* Menú desplegable */
.notifications-menu {
    position: absolute;
    top: 40px; 
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    z-index: 1000;
}

.notifications-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.notifications-menu .MuiAlert-root {
    margin-bottom: 10px; 
}

@media (max-width: 767px){
    .header-content{
        justify-content: center;
    }
    .header-content h1{
        font-size: 20px;
        margin-left: 20px;
    }

    .input-badget input{
        max-width: 200px;
        margin-left: 20px;
    }
    .user-info{
        display: none;
    }
    .input-badget{
        max-width: 400px;
        
    }
}

@media (max-width: 459px){

    .input-badget{
        gap: 0px;
    }

    .input-badget input{
        max-width: 150px;
        margin-left: 10px;
        padding-bottom: 12px;
    }

    .input-badget input::placeholder{
        font-size: 13px;
    }
    
}
